{{#content "head"}}
    {{> head}}
{{/content}}
{{#content "nav"}}
    {{> nav}}
{{/content}}
{{#content "page"}}
    <script>
        //<![CDATA[
        $(document).ready(function(){
            $("[data-mask]").inputmask();

            $("btn_new_personel").on('click', function (evt) {
                console.log('clic saisie nouveau personnel');
            });
        });
    </script>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Registre Unique du Personnel et Stagiaires
            </h1>
            <ol class="breadcrumb">
                <li><a href="/index"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#">Registre unique du personnel et stagiaires</a></li>
                <li class="active">Gestion</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <!-- About Me Box -->
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">Liste du personnel et stagiaires</h3>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
                            <a href="/nouveaupersonneloustagiaire" ><button class="btn btn-primary">Saisie nouveau personnel ou stagiaire</button></a>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            {{renderComponent 'dataTable'
                                              urlJson="/rh_registreuniquedupersonneletstagiaires"
                                              nbLines="10"
                                              isEditBtn=true
                                              urlEditBtn="/fiche_saisie_registre_personnel"
                                              idEditBtn="_id"
                                              isDelBtn=true
                                              urlDelBtn="/deletepersonnelduregistreunique"
                                              idDelBtn="_id"
                                              values='["nom", "prenom", "adresse", "num_SS", "nationalite", "date_naissance", "sexe", "emploi_qualification"]'
                            }}
                        </div><!-- /.box-body -->
                    </div>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{{/content}}
{{#content "footer"}}
    {{> footer}}
{{/content}}
