{{#content "head"}}
    {{> head}}
{{/content}}
{{#content "nav"}}
    {{> nav}}
{{/content}}
{{#content "page"}}



    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Tableau de classement des risques professionnels
            </h1>
            <br>
            <h2 class="center-block">

            </h2>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Accueil</a></li>
            </ol>
        </section>

        <!--section>
          <img src="img/logo-otf-6-1_280px.png" class="img-responsive" alt="logo OTF²">
        </section-->
        <!-- Main content -->
        <section class="content">
            <!-- ================= widgets accueil ======================= -->
            <!-- First row of dashboard -->


            <form class="form-horizontal" role="form" method="POST" accept-charset="utf-8" action="/formaddregistreetape1">
                <div class="col-xs-12 col-sm-12">
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label>selection du risque</label>
                        </div>

aqezfzevzef
                    </div>
                </div>
            </form>

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

{{/content}}
{{#content "footer"}}
    {{> footer}}
{{/content}}
